* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/* ----------
header section design start 
              ------------ */
.header {
  background: rgba(255, 144, 14, 0.1);
  padding-bottom: 30px;
}

/* navbar section style start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}
.navbar .nav-logo h1 {
  color: #131313;
  font-size: 35px;
  font-weight: 700;
}
.navbar .nav-link ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar .nav-link ul li {
  list-style: none;
}
.navbar .nav-link ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
}
/* navbar section style end */

/* banner top content style start */
.banner-top-content {
  margin-top: 100px;
  text-align: center;
}
.banner-top-content h1 {
  font-size: 50px;
  font-weight: 700;
}
.banner-top-content p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
  color: #727272;
}
.banner-top-content button {
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #ff900e;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
/* banner top content style end  */

/* banner image style start */
.banner-image {
  background-image: url(/images/banner.png);
  padding: 40px;
  height: 700px;
  margin-top: 50px;
}
/* banner image style end */

/* ----------
header section style end 
              ------------ */

/* ----------
Features section style start 
              ------------ */
.features {
  margin-top: 85px;
}
.features-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.features-content-left {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}
.features-content-left img {
  width: 330px;
  height: 330px;
}
.features-content-right h3 {
  font-size: 45px;
  color: #131313;
}
.features-content-right h3 .quick-list {
  font-weight: 400;
  color: #727272;
}
.features-content-right h3 .features {
  color: #ff900e;
}
.features-content-right p {
  font-size: 16px;
  color: #727272;
  margin-top: 24px;
}
.features-content-right button {
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #ff900e;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
/* ----------
Features section style end 
              ------------ */

/* ----------
About section style start 
              ------------ */
.about {
  margin-top: 130px;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-content-left-title {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
}
.about-content-left p {
  margin-top: 24px;
  font-style: 16px;
  font-weight: 400;
  color: #727272;
}
.about-content-left-card {
  padding: 30px;
  margin-top: 25px;
  width: 580px;
  height: 170px;
  box-shadow: 0px 0px 4px #ddd;
  border-radius: 8px;
}
.about-content-left-title .line {
  color: #ff900e;
  padding-right: 10px;
  margin-bottom: 7px;
  font-size: 110px;
  font-weight: 400;
}
.about-content-right {
  position: relative;
}
.about-content-right img {
  width: 700px;
}
.about-content-right button {
  position: absolute;
  bottom: -50px;
  left: -50px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
  padding: 20px 30px;
}
.about-content-right button p {
  font-size: 20px;
  font-weight: 500;
}
/* ----------
About section style end 
              ------------ */

/* ----------
Some fact section style start 
              ------------ */
.some-fact {
  margin-top: 120px;
}
.some-fact-top h1 {
  color: #131313;
  font-weight: 700;
  font-size: 40px;
}
.some-fact-top p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  color: #727272;
}
.some-fact-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.some-fact-cards .card {
  border: 1px solid #ff900e;
  width: 220px;
  height: 200px;
  display: grid;
  place-content: center;
  border-radius: 8px;
  row-gap: 10px;
  text-align: center;
}
.some-fact-cards .card:hover {
  transform: rotate(360deg);
  transition: ease-in;
  transition-duration: 0.9s;
}
.some-fact-cards .card i img {
  width: 45px;
}
.some-fact-cards .card h1 {
  font-size: 30px;
  font-weight: 600;
  color: #131313;
}
.some-fact-cards .card p {
  font-size: 16px;
  font-weight: 600;
  color: #727272;
}
/* ----------
Some fact section style end 
              ------------ */

/* ----------
Our Sponsors section style start 
              ------------ */
.our-sponsors {
  margin-top: 150px;
}
.content-heading {
  text-align: center;
}
.content-heading h1 {
  font-weight: 700;
  font-size: 40px;
}
.content-heading p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  color: #727272;
}
.content-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 50px;
}
.content-cards img {
  width: 130px;
  filter: grayscale(100%);
}
/* ----------
Our Sponsors section style end 
              ------------ */
/* ----------
Footer section style start 
              ------------ */
.footer {
  margin: 100px 0;
}
.footer-content {
  background-color: #fff4e7;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
/* ----------
Footer section style end 
              ------------ */
